body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f9f9f9, #eaf3ff);
  text-align: center;
}

.header {
  background: #002b5b;
  color: white;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 26px;
}

.quiz-box {
  width: 90%;
  max-width: 500px;
  background: white;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.progress {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

#progress-bar {
  height: 10px;
  width: 0%;
  background: #007bff;
  border-radius: 10px;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #f2f2f2;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #007bff;
  color: white;
}

#next-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #002b5b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

#score-box {
  margin-top: 15px;
  font-weight: bold;
}

